# Ignore everything in this directory by default
/*

# Track only these
!.gitignore
!.gitattributes
!/*.jucer
!/Source/
!/prd.md
!/.vscode/
!/CMakeLists.txt
!/.github/

# But not the CMake build output
/build/
